p {
    font-weight: 500;
}

mat-icon:first-child {
    margin-right: 20px;
}
mat-icon {
    cursor: pointer;

}


table {
    border-radius: 15px;
    overflow: hidden !important;
    background-color: white;
    border: 2px solid #cac8c891;
    
    td {
        border-top: 2px solid #cac8c891;
        border-bottom: none ;
        text-align: center;
        font-family: 'poppins';
        font-weight: 400;
    }
    th {
        border: none;
        font-weight: 500;
        font-family: 'lexend';
        text-align: center;
    }
}
