.input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    .search-input {
        border: 2px solid #cac8c891;
        border-radius: 10px;
        font-size: 16px;
        width: 100%;
        padding: 20px;
        transition: border-color 0.3s, box-shadow 0.3s;
        background-color: #ffffff;
        font-family: 'Poppins';
    }
    .search-input::placeholder {
        font-family: 'Poppins';
        font-weight: 400;
        color: #808080;
    }
    .search-input:focus 
        {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            outline: none;
    }
    margin: 40px 0;
    
    .search-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
}