
.main-section {
    font-family: 'Poppins';
    margin: 20px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    h3 {
        font-size: 25px;
        font-weight: 600;
    }
}

