<section>
        <p>Resumo do Estoque</p>
    <div class="summary-container">
        <div class="summary-wrap">
            <h6>Número de produtos diferentes</h6>
            <p >{{stock.uniqueItemsQuantity}}</p>
        </div>
        <div class="summary-wrap">
            <h6>Quantidade total de items no estoque</h6>
            <p >{{stock.totalItemsQuantity}}</p>
        </div>
        <div class="summary-wrap">
            <h6>Quantidade Média em estoque por produto </h6>
            <p >{{stock.productQuantityMedia}}</p>
        </div>
        <div class="summary-wrap">
            <h6>Valor total do estoque</h6>
            <p >R$ {{stock.stockTotalValue}}</p>
        </div>
    </div>
</section>