<section>
        <p>Resumo do Estoque</p>
    <div class="summary-container">
        <div class="summary-wrap">
            <p>Quantidade total de items no estoque</p>
            <p>{{total}}</p>
        </div>
        <div class="summary-wrap">
            <p>Número de produtos diferentes</p>
            <p>{{total}}</p>
        </div>
        <div class="summary-wrap">
            <p>Valor total do estoque</p>
            <p>{{total}}</p>
        </div>
        <div class="summary-wrap">
            <p>Produtos com maior quantidade em estoque: </p>
            <p>{{total}}</p>
        </div>
    </div>
</section>